html{	
	font-family: Verdana; 	
	font-size: 10px;
}

body{	
	margin:auto;
	margin-top: 0px;
	width: 98%;
	border: 0px solid;
}

header{
	width: 100%;
	height: 45px;	
	border: 1px solid;
}

nav{
	width: 100%;
	height: 34px;
	border: 1px solid;
}

article{
	width: 100%;
	min-height: 500px;
	border: 1px solid;
}

footer{
	width: 100%;
	border: 1px solid;
}

img{
	border: 0px;
}

a:link {
   color: #000000;
   text-decoration: none;
}

a:visited {
   color: #000000;.
   text-decoration: none;
}

a:hover {
   color: #000000;
   text-decoration: none;
}

a:active {
   color: #000000;
   text-decoration: none;
}

#color_link{
	color: #0000A0;
}