html{ 
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   font-size: 10px;
}

body{
   margin:auto;
   background-color:#FFFFFF;
}

article{
   width: 100%;
}

.subtitulo{
   font-size: 12px;
   font-weight: bold;
   height: 30px;
}

#tabla_general{
   font-size: 10px;
   width:80%;
   border-spacing: 0px 0px;
}

#tabla_detalle{
   width: 80%;
   margin-top: 20px;
   border-color: #FFFFFF;
   border-spacing: 0px 0px;
}

.tabla_detalle1 th{
   text-align: left;
}

.tabla_detalle2 th{
   background-color: #CCCCCC;
   text-align: center;
}


img{
   border: 0px;
}