/* body { font: 0.8em Arial; } */

body { font: 11px Tahoma, Arial; }
table.cert        { width: 100%; clear: both; font-size:70%; font-family: Courier; }
th.cert        { font-size:70%; font-family: Courier; }
/* Datagrid Table */
table.tbl        { width: 100%; border: 2px solid #F0DC7D; font-size: 11px; clear: both; }
td.tbl-header    { background: url('../imagenes/ajax/head_bg.gif'); text-align: center; padding: 3px; font-weight: bold; border-bottom: 1px solid #F3EAAE; }
tr.tbl-footer    {}
table.tbl-footer { font-size: 11px; }

tr.tbl-row       { }
tr.tbl-row:hover { background: #EBFFFF; } /* Old color: #E9E9E9 */
tr.tbl-row-even  { background: #f4f4f4; }
tr.tbl-row-odd   { background: white; }
tr.tbl-row-highlight:hover { background: #fffba6; cursor: pointer; }
tr.tbl-row-fondo { background-color : #FFF8DE; cursor : hand;}


td.tbl-nav       { background: url('../imagenes/ajax/head_bg.gif'); height: 20px; border-top: 2px solid #F3EAAE; color: #4D4D4D; }
td.tbl-pages     { text-align: center; }
td.tbl-row-num   { text-align: right; }

td.tbl-cell      { border-bottom: 1px solid #e4e4e4; }
td.tbl-controls  { text-align: center; border-bottom: 1px solid #e4e4e4;}

td.tbl-found     { }
td.tbl-checkall  { border-bottom: 1px solid #e4e4e4; }
td.tbl-page      { text-align: right; }
td.tbl-noresults { font-weight: bold; color: #9F0000; height: 45px; text-align: center; }

span.tbl-reset   { margin: 5px 5px; }
img.tbl-reset-image { margin-right: 5px; border: 0; }

span.tbl-create  { margin: 5px 0; }
img.tbl-create-image { margin-right: 5px; border: 0; }

div.tbl-filter-box { }
img.tbl-arrows { border: 0; }
img.tbl-order-image { margin: 0 2px; border: 0; }
img.tbl-filter-image { border: 0; }
img.tbl-control-image { border: 0;}
span.page-selected { color: black; font-weight: bold; }
input.tbl-checkbox { }

/* add map */
select.tbl-select { font: 9px Tahoma, Arial; }
input.filter-text {font: 10px Tahoma, Arial;}
a.order:link, a.order:visited, a.order:active {
    text-decoration:     none;
    font-weight:         bold;
}
a.order:hover {
    text-decoration:     none;
