body {margin:10px; font:10px Verdana,Arial; background:#fff}
ul.menu {list-style:none; margin:0; padding:0}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#000; text-decoration:none}
ul.menu li {position:relative; float:left; margin-right:2px}
ul.menu ul {position:absolute; top:26px; left:0; background:#FFF8DE; display:none; opacity:0; list-style:none}
ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#FFF8DE}
ul.menu ul li a:hover {background-color:#c5c5c5}
ul.menu ul ul {left:78px; top:-1px}
ul.menu .menulink {border:1px solid #aaa; padding:5px 7px 7px; font-weight:bold; background:url(../imagenes/header.gif); width:70px}
ul.menu .menulink:hover, ul.menu .menuhover {background:url(../imagenes/header_over.gif)}
ul.menu .sub {background:#FFF8DE url(../imagenes/arrow.gif) 136px 8px no-repeat}
ul.menu .topline {border-top:0px solid #aaa}

