#menu{
/*estilo de nuestra lista*/
background-color:#FFF8DE;
list-style:none;
width:auto;
position:relative;
display:block;
height:34px;
margin-top: 0px;
font-size:10px;
}

#menu li{
/*estilo a cada uno de los elementos(li) de nuestro menu*/
float:left;/* propiedad importante para que nuestro menu tome la forma horizontal*/
display:block;
position:relative;
}

#menu li a{
/*estilo de los enlaces */
color:#000000;
text-decoration:none;
font-family:Helvetica, Arial, sans-serif;
/*font-size:12px;*/
line-height:1.3em;
padding:10px 14px 8px 16px;
display:block;
}

#menu li ul{
/*estilo de los submenus*/
background:#F8F8F8;
border:1px #ccc solid;
display:none; /*importante para que los submenus no estén visibles*/
position:absolute;
z-index:999;
padding:0px 0px 0px 0px;
}

#menu li ul li{
/*estilo a cada uno de los elementos(li) de nuestro submenu*/
width:100%;
list-style:none;
display:block;
}

#menu li ul li a{
/*estilo a cada uno de los enlaces de nuestro submenu*/
color:#000000;
display:block;
}

#menu li ul li a:hover{
/*un poco de decoracion a los enlaces de nuestro submenu al estar el cursor sobre ellos con ayuda de el selector :hover */
background-color:#FFF;
color:#444;
text-decoration:underline;
}

/*aquí viene lo importante para que funcione nuestro menú y se desplieguen los submenus al colocar
 el cursor sobre una opción de el menú, para ello utilizaremos el selector :hover. */
#menu li:hover ul{
/*con este selector definimos que cuando el cursor este sobre un elemento(li) que contenga un elemento(ul) 
 dentro le asigne la propiedad display:block; para que este a su vez pase de invisible a visible*/
display:block;
}