/* ......................................................................... */
/* BEGIN : para sistema de reclamos                                          */
/* ......................................................................... */

body,
td,
th,
select,
p, h1, h2, h3, h4, h5, h6,
a:link, a:active, a:visited,
input, button, textarea, legend, fieldset, label, form
{
    font-family:         Tahoma, Arial, Helvetica, Verdana, sans-serif;
    font-size:           11px;
    color:               #000000;
}

/* links */
a:link, a:visited, a:active {
    text-decoration:     none;
    font-weight:         normal;
    color:               #000000; //#696ab5;
}

a:hover {
    text-decoration:     none;
    backgound-color:     #696ab5;
    color:               #ff0000; //#585880;
}
a.drop:link, a.drop:visited, a.drop:active{
    color:               #aa0000;
}
a.drop:hover {
    color:               #ffffff;
    background-color:    #aa0000;
    text-decoration:     none;
}

/* horizontal ruler */
hr {
    color:               #585880;
    background-color:    #585880;
    border:              1px none #585880;
    height:              1px;
    margin-top:          5px;
    margin-bottom:       5px;
}


/* -- FORM ELEMENTS */
form {
    padding:             0px 0px 0px 0px;
    margin:              0px 0px 0px 0px;
}

/*
input{
    vertical-align:      middle;
    margin-top:          1px;
    margin-bottom:       1px;
    border:              1px solid #585880;
    padding-left: 1px;
}
 */

select {
   color:               #585880;
}



select optgroup, select option {
    font-family:         Tahoma, Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size:           11px;
    font-style:          normal;
    fotn-size:           11px;
}

input[type=button], input[type=submit], input[type=reset] {
    color:               #585880;
    font-weight:         bold;
    padding-left:        2px;
    padding-right:       2px;
    border:              1px solid #585880;
    background-color:    #e5e5e5;
    cursor:              hand;
}


/* ......................................................................... */
/* para los botones */
/* ......................................................................... */
input.button{
   font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
   color:            #7B680F;
   background-image: url('../imagenes/fondo.jpg');
   background-color: #FFFFFF;
   cursor:           hand;
   border: 1px solid #F0DC7D;
}




textarea { overflow: auto; }

select.option {
    /*** color:               #DB1C22; **/
    color:               #000000;
}

textarea,
select.option,
input.text,
input.textfield {
	COLOR: #7B680F;
	FONT-WEIGHT: normal;
	BACKGROUND-COLOR: #FFFFCC;
	FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #F0DC7D;
	background-image: url('../imagenes/fondo.jpg');

}


..inputfields {
    color:               #00248C;
    border-left:         1px solid #e0e0e0;
    border-right:        1px solid #a0a0a0;
    border-top:          1px solid #e0e0e0;
    border-bottom:       1px solid #a0a0a0;
    padding-left: 0.2em;
}


input.radio,
input.checkbox, {
    vertical-align:      middle;
    margin-top:          1px;
    margin-bottom:       1px;
    border:              0px dashed #585880;
}



/* para cuadros */
#fldsetBoton {
    font-weight:         bold;
    color:               #585880;
    background-color:    #e5e5e5;
    border-top:          0px solid #cccccc;
    border-bottom:       1px solid #F8EEBE;
    white-space:         nowrap;
    height:              22px;
    background-image:    url('../biblioteca/imagenes/fls_fondo.png');
    background-repeat:   repeat-x;
    background-position: 0px 0px;
}

fieldset {
    border:              #F8EEBE solid 1px;
    padding:             0.3em;
}
fieldset fieldset {
    padding:             0.3em;
}
legend {
    color:               #d13a30;
    font-weight:         bold;
    padding:             2px;
}
#lgndsetOpe {
    background-image:  url('../biblioteca/imagenes/lgd_fondo.png');
    background-repeat: repeat-x;
}

#lgndMain {
    background-color:  #e5e5e5;
    color:             #880000;
    background-image:  url('../biblioteca/imagenes/lgd_fondo.png');
    background-repeat: repeat-x;
}

#TooltipContainer {
    font-size:           11px;
    color:               #ffffff;
    background-color:    #9eb1cc;
    position:            absolute;
    z-index:             99;
    width:               250px;
    height:              50px;
    overflow:            auto;
    visibility:          hidden;
    border:              1px solid #333333;
    padding:             5px;
    filter:              progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    -moz-opacity:        0.95;
    opacity:             0.95;
}


div.warning, div.wanhead, div.head {
    background-image:    url('../biblioteca/imagenes/div_warn.png');
    background-repeat:   no-repeat;
}
div.warning {
    border:              1px solid #aa0000;
    background-position: 10px 10px;
    padding:             10px 10px 10px 36px;
    margin:              0px;
}
.warning {
    font-weight:         normal;
    color:               #aa0000;
    border:			         1px dashed #aa0000;
}

.clearfloat {
   clear: both;
}

div.error, div.errhead, {
    background-image:    url('../biblioteca/imagenes/div_error.png');
    background-repeat:   no-repeat;
}
div.error {
    border:              1px solid #aa0000;
    background-position: 10px 10px;
    padding:             10px 10px 10px 36px;
    margin:              0px;
}
.error {
    font-weight:         bold;
    color:               #aa0000;
    border:		 1px dashed #aa0000;
}

input.showdata {
 font-family: tahoma;
 font-weight: bold;
 color: #FF0000;
 border: 0px;
 background-color: #FFFFFF;
}

td.fldname {
  font-family    : Tahoma;
  font-size      : 9px;
  color          : #777777;
  text-align     : bottom;
}

td.filler {
  font-size      : 7px;
}

/* ......................................................................... */
/* ************************ */
.menumain {
   font-family : Arial;
   font-size   : 10px;
   color       : #000099;
}
.menumain:link  { color : #000099; }
.menumain:hover { color : #B30000; }

/* ************************ */
a.menullam {
   font-family     : Tahoma, Arial;
   font-size       : 11px;
   font-weight     : bold;
   color           : #000000;
   text-decoration : underline;
}
a.menullam:link    { color : #000000; }
a.menullam:active  { color           : #000000;
                     font-weight     : bold;
                     text-decoration : underline;}
a.menullam:visited { color           : #000000;
                     font-weight     : bold;
                     text-decoration : underline;}
a.menullam:hover   { color : #FF0000; }


/* ************************ */
.menuTicketOff {
   font-family     : Tahoma, Arial;
   font-size       : 11px;
   font-weight     : bold;
   color           : #800000;
   text-decoration : underline;
}
.menuTicketOff:link  { color : #800000; }
.menuTicketOff:hover { color : #FF8000; }



/* ************************ */
.menuTicketOn {
   font-family     : Tahoma, Arial;
   font-size       : 11px;
   font-weight     : bold;
   color           : #000099;
   text-decoration : underline;
}
.menuTicketOn:link  { color : #000099; }
.menuTicketOn:hover { color : #0066CC; }


/* ************************ */
a.menuNew {
   font-family     : Tahoma, Arial;
   font-size       : 11px;
   font-weight     : normal;
   color           : #FFFFFF;
   text-decoration : none;
}
a.menuNew:link     { color : #FFFFFF; }
a.menuNew:visited  { color : #FFFFFF; }
a.menuNew:hover    { color : #FFCC66; }


/* ************************ */

.menuCob {
   font-family     : Tahoma, Arial;
   font-size       : 11px;
   font-weight     : bold;
   color           : #000099;
   text-decoration : underline;
}

.menuCob:link  { color : #000099; }
.menuCob:hover { color : #0066CC; }



/* ************************ */
.BotonTkOff
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    background-color: #808080;
    border          : 0px #0066FF ridge;
    color           : #FFFFFF;
    cursor          : hand;
}
.BotonTk
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    background-color: #808080;
    border          : 0px #0066FF ridge;
    color           : #FFFFFF;
    cursor          : hand;
}

/* ************************ */
.BotonOp
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    background-color: #808080;
    border          : 0px #0066FF ridge;
    color           : #FFFFFF;
    cursor          : hand;
}


.Titulo
{
    font-family     : Verdana, Helvetica, sans-serif;
    font-size       : 17 px;
    font-weight     : bold;
    /* color           : #FF9900;*/
    color           : #000099;
}

.subTitulo
{
    font-family     : Verdana, Helvetica, sans-serif;
    font-size       : 15 px;
    font-weight     : normal;
    color           : #415566;
}


.txtBoxIng
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #FFFFFF;
    border          : 1px #000033 ridge;
    color           : #000000;
    text-align      : justify;
}

.txtBoxIngNum
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #FFFFFF;
    border          : 1px #000033 ridge;
    color           : #000000;
    text-align      : right;
}


.txtRNo
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #E0E0E0;
    border          : 1px #000033 ridge;
    color           : #000099;
    text-align      : right;
}

.txtLNo
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #E0E0E0;
    border          : 1px #000033 ridge;
    color           : #000099;
    text-align      : left;
}


.txtBoxNoMod
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #E0E0E0;
    border          : 1px #000033 ridge;
    color           : #000099;
    text-align      : right;
}

.txtBoxShow
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #FFFFFF;
    border          : 1px #FFFF00 ridge;
    color           : #061D46;
    text-align      : left;
}

.txtBoxCalendar
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #DAF1FE;
    border          : 1px #000033 ridge;
    color           : #000099;
    text-align      : right;
}

input.txtReloj
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 10 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    border          : 0px #ffffff ridge;
    color           : #FFFFFF;
    background-color: #000000;
    text-align      : top;
    padding         : 0px;
}

.txtBoxComen
{
    font-family     : Courier New, Tahoma, Arial, Helvetica, sans-serif;
    font-size       : 12 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #FFFFFF;
    border          : 1px #000033 ridge;
    color           : #061D46;
    text-align      : left;
}

.txtSelect
{
   color            : #000000;
   font-family      : Courier New;
   font-size        : 11 px; 
   border-bottom    : 1px #E4E4E4 solid;
}

.trTitulo
{
    background-color: #061D46;
    color           : #FFFFFF;
}

.tdTitulo
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 13 px;
    font-style      : normal;
    font-weight     : bold;
    /*color           : #FFFFFF;*/
    color           : #FFDD00;
}

.tdTitulo15
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 15 px;
    font-style      : normal;
    font-weight     : bold;
    color           : #FFFFFF;
}

.tdTitulo11
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : bold;
    color           : #FFFFFF;
}


.tdTitulo10
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 10 px;
    font-style      : normal;
    font-weight     : bold;
    color           : #FFFFFF;
}

.trDetallePlus
{
    background-color: #F0F0F0;
}

.trDetalleCF
{
    background-color: #EFEEEE;
}

.trDetalle
{
    background-color: #E5E5E5;
}

.tdEstad01
{                     
    background-color: #FFFFCC;
}

.tdEstad02
{                     
    background-color: #FFFFCC;
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 12 px;
    font-style      : normal;
    font-weight     : bold;
    border-bottom   : 1px #000033 ridge;
}

.tdDetalle
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 12 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #000000;
}

.tdDetalleCola
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 12 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #000088;
}


.tdDetalle10
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 10 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #000099;
}

.tdDetalle11
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #000000;
}

.tdDetalle12
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 12 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #000000;
}

.tdDetalle13
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 13 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #415566;
}

.tdDetalle15
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 15 px;
    font-style      : normal;
    font-weight     : bold;
    color           : #415566;
}

.tdTotales13
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 13 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #000000;
    background-color: #F4E4E4;
}


.tdDetalle13R
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 13 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #FF0000;
}


.tdDetalle11R
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : bold;
    color           : #FF0000;
}


.tdComenta
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #000000;
}

.selectTxt
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #000000;
    background-color: #FFFFFF;
}


.selectTicket
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #061D46;
    background-color: #E4E4E4;  // #FFFFFF;
}


.selectComen
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : bold;
    font-variant    : normal;
    line-height     : normal;
    border          : 1px #000033 ridge;
    color           : #061D46;
    background-color: #EEEEEE;
}

.bodyTitleSys
{
   color            : #FFFFFF;
   background-color : #0066CC;
   margin-top       : 1;
   margin-left      : 0;
   margin-right     : 0;
   margin-width     : 0;
   margin-height    : 0;
}

.bodyAdmUsr
{
   color            : #FFFFFF;
   background-color : #0054A8;
   margin-top       : 1;
   margin-left      : 0;
   margin-right     : 0;
   margin-width     : 0;
   margin-height    : 0;
}

.tituloHTML
{
    font-family     : Tahoma, Verdana, Arial, Helvetica;
    font-size       : 20 px;
    font-weight     : bold;
    color           : #d13a30;
}


.bodyScroll
{
   scrollbar-face-color      : #DEE3E7;
   scrollbar-highlight-color : #FFFFFF;
   scrollbar-shadow-color    : #DEE3E7;
   scrollbar-3dlight-color   : #D1D7DC;
   scrollbar-arrow-color     : #006699;
   scrollbar-track-color     : #EFEFEF;
   scrollbar-darkshadow-color: #98AAB1;
   font-family               : Tahoma, Verdana, Helvetica, Arial;
   font-size                 : 11 px;
   color                     : #000000;
   background-color          : #FFFFFF;
   margin-top                : 5;
   margin-left               : 5;
   margin-right              : 5;
   padding-top               : 0;
   padding-left              : 0;
   padding-right             : 0;
}

.bodyTicketFol
{
   scrollbar-face-color      : #DEE3E7;
   scrollbar-highlight-color : #FFFFFF;
   scrollbar-shadow-color    : #DEE3E7;
   scrollbar-3dlight-color   : #D1D7DC;
   scrollbar-arrow-color     : #006699;
   scrollbar-track-color     : #EFEFEF;
   scrollbar-darkshadow-color: #98AAB1;
   font-family               : Tahoma, Verdana, Arial, Helvetica;
   font-size                 : 11 px;
   color                     : #FFFFFF;
   background-color          : #CCCCCC;
   margin-top                : 10;
   margin-left               : 5;
   margin-right              : 0;
   padding-top               : 0;
   padding-left              : 0;
   padding-right             : 0;
}

.bodyTicketCta
{
   scrollbar-face-color      : #DEE3E7;
   scrollbar-highlight-color : #FFFFFF;
   scrollbar-shadow-color    : #DEE3E7;
   scrollbar-3dlight-color   : #D1D7DC;
   scrollbar-arrow-color     : #006699;
   scrollbar-track-color     : #EFEFEF;
   scrollbar-darkshadow-color: #98AAB1;
   font-family               : Tahoma, Verdana, Arial, Helvetica;
   font-size                 : 11 px;
   color                     : #FFFFFF;
   background-color          : #CCCCCC;
   margin-top                : 10;
   margin-left               : 5;
   margin-right              : 0;
   padding-top               : 0;
   padding-left              : 0;
   padding-right             : 0;
}


.MesgWhite15
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 15 px;
    font-style      : normal;
    font-weight     : bold;
    color           : #FFFFFF;
}


.MesgWhite13
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 13 px;
    font-style      : normal;
    font-weight     : bold;
    color           : #FFFFFF;
}

.MesgWhite10
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 10 px;
    font-style      : normal;
    font-weight     : bold;
    color           : #FFFFFF;
}

.MesgWhite11
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #FFFFFF;
}

.MesgCian11
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #35FFFF;
}

.MesgCian13
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 13 px;
    font-style      : normal;
    font-weight     : bold;
    color           : #35FFFF;
}

.MesgCian15
{
    font-family     : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size       : 15 px;
    font-style      : normal;
    font-weight     : bold;
    color           : #35FFFF;
}


hr {
    border          : 1px #FFCC00 ridge;
    color           : #FFFFFF;
}




.tituloDel { 
  font-family     : Tahoma, Arial, Helvetica, sans-serif; 
  font-size       : 11px;
  color           : #000000;
  text-align      : none;
  vertical-align  : center ;
  background-color: #F4F4F4; //#004441;
  padding-left    : 2px;
  border          : 1px;
}


.datoDel {
  font-family     : Tahoma, Arial, Helvetica, sans-serif;
  font-size       : 11px;
  color           : #000000;
  text-align      : none;
  vertical-align  : center;
  line-height     : 14px;
  text-decoration : none;
  padding-left    : 2px;
  border          : 1px;
}


.datoDelR {
  font-family     : Tahoma, Arial, Helvetica, sans-serif;
  font-size       : 11px;
  color           : #FF0000;
  text-align      : none;
  vertical-align  : center;
  line-height     : 14px;
  text-decoration : none;
  padding-left    : 2px
  border          : 1px;
}



.inputDay {
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #E5E5E5;
    border          : 0px #000033 ridge;
    color           : #000000;
    text-align      : left;
}

.txtreloj {
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #000000;
    border          : 0px #000033 ridge;
    color           : #FFFFFF;
    text-align      : left;
}

.inputDayNum {
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #E5E5E5;
    border          : 0px #000033 ridge;
    color           : #000000;
    text-align      : right;
}

.txtBnaNum
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #F0F0F0;
    border          : 0px #000033 ridge;
    color           : #000000;
    text-align      : right;
}

.txtBna
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    line-height     : normal;
    font-weight     : normal;
    font-variant    : normal;
    background-color: #F0F0F0;
    border          : 0px #000033 ridge;
    color           : #000000;
    text-align      : justify;
}



.tdCuad11
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #000099;
    background-color: #E8F0F8;
}

.tdCuad11Plus
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 11 px;
    font-style      : normal;
    font-weight     : normal;
    color           : #000099;
    background-color: #F0F0FF;
}

table.inf td {
   border-bottom : 1px solid #E1E1E1;
   padding-left:   0.3em;
   padding-right:  0.3em
} 


table.t1 tr td { text-align: center; }
tr.t1row2 { background-color: #cadce3; }
table.t1 tr:hover, table.m1 tr:hover, table.m2 tr:hover { background-color: #eeeeee; }
table.t1 tr:first-child, table.m1 tr:first-child, table.m2 tr:first-child { background-color: transparent; }
table.m1 tr td:first-child { text-align: right; }

.tdmoto
{
    font-family     : Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size       : 14px;
    font-style      : bold;
    font-weight     : bold;
    color           : #000099;
    background-color: #F0F0FF;
}

input.tdmoto {
 font-family: tahoma;
 font-weight: bold;
 color: #FF0000;
 border: 1px;
 background-color: #F0F0FF;
}

input.tdmoto2 {
 font-size: 14px;
 font-family: tahoma;
 font-weight: bold;
 color: #000099;
 border: 1px;
 background-color: #F0F0FF;
}
